# General
*.log                  # Log files
*.pyc                  # Compiled Python files
__pycache__/           # Python cache directory
*.DS_Store             # macOS system files
Thumbs.db              # Windows system files

# Visual Studio Code
.vscode/               # Ignore VS Code folder

# Python Environments
.env                   # Environment variable file
backend/env/           # Virtual environment in backend folder
env/                   # Common virtual environment names
venv/                  
ENV/                   

# Mypy
.mypy_cache/           # Ignore mypy cache folder

# Pyenv
.python-version        # Ignore Pyenv version file

# Unit Test / Coverage Reports
htmlcov/               # Coverage HTML report
.tox/                  # Tox environment
.coverage              # Coverage data file
.coverage.*            
.cache                 
.pytest_cache/         # Pytest cache
nosetests.xml          # Nose test report
coverage.xml           # Coverage XML report
*.cover                
.hypothesis/           # Hypothesis state files

# Distribution / Packaging
.Python                # Environment marker file
build/                 # Build directory
develop-eggs/          # Development eggs
dist/                  # Distribution directory
.eggs/                 
*.egg-info/            # Egg-info directories
.installed.cfg         
*.manifest             
*.spec                 # Spec files for PyInstaller
wheels/                # Wheel files
downloads/             
parts/                 
lib/                   
lib64/                 
sdist/                 
*.whl                  # Wheel files
*.egg                  # Egg files

# Django
db.sqlite3             # SQLite database
media/                 # Media files (uploaded by users)

# Node.js (for React frontend)
node_modules/          # Dependencies folder
npm-debug.log*         # NPM debug logs
yarn-debug.log*        # Yarn debug logs
yarn-error.log*

# Miscellaneous
.idea/                 # IntelliJ IDEA project files
.history               # Local history files
*.bak                  # Backup files
