@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-marble: #F2F8FC;
  --color-action: #896442;
  --color-action-dark: #70503E;
  --color-primary: #FCEED2;
  --color-secondary: #FFE2B8;
  --color-natural: #333333;
  --color-highlight: #70503E;
  --color-new-bg: #f3f6f8;
}